<%- include('layouts/main.ejs') %>
<%- include('partials/header.ejs') %>


<div style = "margin:2%">
  <div class = "card">
      <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" id = "4">Drive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id = "5">Aircraft</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id = "6">NA</a>
          </li>
      </ul>
      <div class="card-body">
          <div class= "containers">
              <h5 class="card-title">Ready For Your Trip</h5>
              <p class="card-text">For the trip, implement your starting point and enter your end point. This application will automatically show the locations on the map below as well as generate all national parks that can be visited.</p>
              <form>
              <label for="from">From:</label>
              <input type="text" id="from">
              <br>
              <label for="to">To: &nbsp;&nbsp;&nbsp;&nbsp;</label>
              <input type="text" id="to"><br><br>
              <input type = "submit" id = "submit1" value = "Travel">
              </form>
          </div>

          <div style = "display:none;" class="containers">
              <h3>Paris</h3>
              <p>Paris is the capital of France.</p>
          </div>

          <div style = "display:none;" class="containers">
              <h3>Tokyo</h3>
              <p>Tokyo is the capital of Japan.</p>
          </div>
      </div>
  </div>
  <br>
  <div class="embed-responsive embed-responsive-16by9" id = "my-map"></div>
  
  <br>
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id = "7">Parks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = "8">NA</a>
      </li>
  </ul>
  <div class = "containers" style="margin:2%;margin-bottom:0%;">
  </div>
  <div class = "containers" style="margin:2%;margin-bottom:0%;display: none;">
    <div class = "card">
      <div class = "card-body">
        <div class="tabcontent">
          <h3>Mt Rainer</h3>
          <p>Cool place to climb, picture would be here if it existed.</p>
        </div>
      </div>
  </div>
  <br>
  <div class = "card">
    <div class = "card-body">
      <div class="tabcontent">
        <h3>Bokyo</h3>
        <p>Bokyo is the capital of Japan.</p>
      </div>
    </div>
  </div>
</div>

<script type ="module" src = "js/form.js" ></script>
<script src = "js/tab.js"></script>