<%- include('layouts/main.ejs') %>
<%- include('partials/header.ejs') %>

<div class = "jumbotron">
    <h1 style="color:white;">Trip Planner</h1>
    <p style="color:white;">Ready to plan and go on your next trip, well then lets go</p>
    <a href="/form" class="btn btn-primary">Go somewhere</a>
</div>

<div style = "margin:2%">
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Parks Parks and more Parks</h5>
                <p class="card-text">While you are on the way, why not visit local National Parks across America?</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Local Eatery</h5>
                <p class="card-text">Not currently supported, but you know what is? Hotels. Hotels as well as parks have places to eat, whether it is restuarants, continental breakfast, or a vending machine, you can for sure find food.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Plan, plan, plan</h5>
                <p class="card-text">Select your mode of transportation for you trip, so long as it is Drive. Aside from mode of transportation, you can also search for locations by address or name or coordinates</p>
            </div>
        </div>
      </div>
</div>

