<%- include('layouts/main.ejs') %>
<%- include('partials/header.ejs') %>

<div class = "jumbotron">
    <h1 style="color:white;">Trip Planner</h1>
    <p style="color:white;">Ready to plan and go on your next trip, well then lets go</p>
    <a href="/form" class="btn btn-primary">Go somewhere</a>
</div>

<div style = "margin:2%">
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Parks Parks and more Parks</h5>
                <p class="card-text">While you are on the way, why not visit local National Parks across America?</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Local Eatery</h5>
                <p class="card-text">Not currently supported, but if if you can visit parks, why not resturants? For now assume resturants are all near national parks</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Plan, plan, plan</h5>
                <p class="card-text">Whether it is by plane or by car or truck, there are different ways you can plan for your trip. Decide what mode and get the results. Depending on choice of transport, you will get more chances to look at different things</p>
            </div>
        </div>
      </div>
</div>

