<%- include('layouts/main.ejs') %>
<%- include('partials/header.ejs') %>


<div style = "margin:2%">
  <div class = "card">
      <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" id = "3">Go on a Drive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id = "4">Seach for Place</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id = "5">Seach by lon lat</a>
          </li>
      </ul>
      <div class="card-body">
          <div class= "containers">
            <h5 class="card-title">Ready For Your Trip</h5>
            <p class="card-text">For the trip, implement your starting point and enter your end point. This application will automatically show the locations on the map below as well as generate all national parks that can be visited.</p>
            <form>
            <label for="from">From:</label>
            <input type="text" id="from">
            <br>
            <label for="to">To: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="to"><br><br>
            <input type = "submit" id = "submit1" value = "Travel">
            </form>
          </div>

          <div style = "display:none;" class="containers">
            <h5 class="card-title">Find a Place</h5>
            <p class="card-text">Have a place in mind but not know where it is, place a marker using the search below.</p>
            <p class = "card-text">Hint: You can search by name or by address.</p>
            <form>
            <label for="PlaceOfInterest">Place Of Interest:</label>
            <input type="text" id="PlaceOfInterest">
            <br>
            <br>
            <input type = "submit" id = "submit2" value = "Place Marker">
          </div>

          <div style = "display:none;" class="containers">
            <h5 class="card-title">Search by longitude and latitude</h5>
            <p class = "card-text">Use the following <a target="_blank" href = "https://www.latlong.net/">link</a> to get lat and long for a place of interest</p>
            <form>
            <label for="Longitude">Longitude:</label>
            <input type="text" id="Longitude">
            <br>
            <label for="Latitude">Latitude:&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="Latitude">
            <br>
            <br>
            <input type = "submit" id = "submit3" value = "Place Marker">
          </div>
      </div>
  </div>
  <br>
  <div class="embed-responsive embed-responsive-16by9" id = "my-map"></div>
  <br>
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id = "6">Parks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = "7">Hotels</a>
      </li>
  </ul>
  <div class = "containers" style="margin:2%;margin-bottom:0%;">
  </div>
  <div class = "containers" style="margin:2%;margin-bottom:0%;display: none;">
</div>

<script type ="module" src = "js/trip.js" ></script>
<script src = "js/tab.js"></script>