.header{
    background-color:blue;
}

.imgContainer{
    height: 100%;
    width: 100%;
}

.contained_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.jumbotron {
    background-image: url("/other/img_lights_wide.jpg");
    background-size: cover;
  }

.nav-item a:hover{
    background-color: tan;
}

.airport {
    height: 69px;
    width: 47px;
    background-image: url(https://api.geoapify.com/v1/icon/?scaleFactor=2&color=%2372a2d4&size=small&apiKey=b1f46c812f0f4a7485e46c797622ab4a);
    background-size: contain;
    cursor: pointer;
  }